* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#a82697,rgb(8, 77, 122)
    );
}
.form-container {
    padding: 2rem;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 20px;
}
.title-container {
    text-align: center;
    margin-bottom: 20px;
}
.inputValue {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}
.inputUnit {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.outputUnit {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.btn {
    margin-bottom: 10px;
    text-align: center;
}
.result-container {
    text-align: center;
}